* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* Header Bar */
.googlebar {
  /* background-color: #2358b8; */
  background-image: linear-gradient(#1b4591, #2358b8, #6698CB);
  margin: 0;
  padding: 10px;
}

.logocontainer {
  display: inline-block;
}

#searchheader {
  margin: 0;
  padding: 5px;
  background-color: red;
}

/* #fes-logo {
  color: white;
  text-align: left;
  margin-left: 15px;
  font-size: 18px;
} */
#fes-title {
  color: white;
  text-align: left;
  margin-left: 15px;
  font-size: 18px;
}

#srchbutton { 
  color: #1b4591;
}

#srchbutton:hover {
  cursor: pointer;
}

/* Searchbar */


/* Navigation */
.topnav {
  height: 29px !important;
  z-index: 200 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.topnav ul {
  padding: 5px;
  margin: 0;
  display: block;
}

.topnav li {
  display: inline;
}

.topnav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  display: inline;
  color: white;
  /* border-right: 1px #1B4591 solid;
  border-left: 1px #1B4591 solid; */
  font-size: 14px;
}

.topnav a:hover {
  background-color: #2358b8;
}

#leftNav {
  float: left;
}

#rightNav {
  float: right;
}

/* Footer */
.footer {
  background-color: #E5E5E5 !important;
  width: 100%;

  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  

  /* bottom: 0;
  left: 0;
  margin: 0;
  padding: 0; */
}

.footer ul li {
  margin: 0;
  display: block;
  display: inline;


  padding: 5px;
}

.footer ul li a {
  color: #2358b8;
}

.footer p {
  font-size: 14px;
  margin-left: 41px;
}


/* HomePage */
.content {
  border: solid #A8A8A8;
  border-width: 0 1px;
  max-width: 800px;
  min-height: 800px;
  background-color: gainsboro;
  margin-left: 60px;
  margin-top: 20px;
}

.newsheader {
  background-color: #6698CB;
  max-width: 100%;
  color: white;
  padding: .5px;
}
