* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
html {
  /* may need to update this. */
  background-color: gainsboro;
}
/* Header Bar */
.googlebar {
  /* background-color: #2358b8; */
  background-image: linear-gradient(#1b4591, #2358b8, #6698CB);
  margin: 0;
  padding: 10px;
}

#fes-title {
  color: white;
  text-align: left;
  margin-left: 15px;
  font-size: 18px;
}

/* Navigation */
.topnav {
  height: 29px !important;
  z-index: 200 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.topnav ul {
  padding: 5px;
  margin: 0;
  display: block;
}

.topnav li {
  display: inline;
}

.topnav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
  display: inline;
  color: white;
  /* border-right: 1px #1B4591 solid;
  border-left: 1px #1B4591 solid; */
  font-size: 14px;
}

.topnav a:hover {
  background-color: #2358b8;
}

#leftNav {
  float: left;
}

#rightNav {
  float: right;
}

/* Footer */
.footer {
  background-color: #E5E5E5 !important;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer ul li {
  margin: 0;
  display: block;
  display: inline;
  padding: 5px;
}

.footer ul li a {
  color: #2358b8;
}

.footer p {
  font-size: 14px;
  margin-left: 41px;
}
/* HomePage */

.news-container{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  background-color: white;
  height: 350px;
  width: 590px;
  margin-top: 30px;
  margin-left: 50px;
  border: .5px black solid;
}

.newscontainer {
  background-color: white;
  height: 350px;
  width: 590px;
  margin-top: 30px;
  margin-left: 50px;
  border: .5px black solid;
}

.newsheader {
  color: white;
  padding: .5px;
  background-color: #6698CB;
  padding-top: 1em;
  margin: 0 0 2em 0;
}

.logincontainer {
  background-image: linear-gradient(#3F527D, #1b4591);
  height: 200px;
  width: 300px;
  border: .5px black solid;
  display: block;

}

.loginheader {
  color: white;
}

.login-forms ul li {
  color: white;
  list-style: none;
  display: inline;
  margin-left: 0;
  font-size: 11px;
  padding-right: 25px;
}

label {
  color: white;
  display: block;
}


#loginbutton {
  background-color: #FBC22F;
  height: 25px;
  width: 100px !important;
  font-weight: bold;
}

#loginbutton:hover {
  cursor: pointer;
}

#checkbox:hover {
  cursor: pointer;
}






/* .newsheader h5 {
  margin-left: 55px;
}


.login-container {
  float: right;
  background-image: linear-gradient(#2358b8, #1b4591, #2358b8); 
  height: 300px;
  width: 390px;
  margin-top: 30px;
  margin-right: 150px;

}

.login-header {
  color: white;
  margin-left: 25px;
} */





